<!DOCTYPE html>
<html>
<head>
	<title>Coming Soon</title>
    <link rel="icon" type="image/png" href="/static/css/images/favicon.ico">
	<link rel="stylesheet" type="text/css" href="/static/css/footer.css">
	<link rel="stylesheet" type="text/css" href="/static/css/navbar.css">
</head>
<body style="padding:0;background:#E76F61;">
<div>
	<header>
                <div style="position: fixed;" id="navbar">

                <div class="iit_bhu_logo" >
                    <a href="/"><img src="/static/css/images/logo_technex_white.png" id="iitbhu_logo_left" width="17.5%"></a>
                </div>
                <!-- Navbar --> 
                <div class="navbar_top">
                    <ul >
                        <li><a href="/events">EVENTS</a><img src="/static/css/images/vertical_line.png" class="vertical_line"></li>
                        <li><a href="/workshops">WORKSHOPS</a><img src="/static/css/images/vertical_line.png" class="vertical_line"></li>
                        <li><a href="/guest_lectures">GUEST LECTURES</a><img src="/static/css/images/vertical_line.png" class="vertical_line"></li>
                        <li><a href="/sponsors">SPONSORS</a><img src="/static/css/images/vertical_line.png" class="vertical_line"></li>
                        <li><a href="/initiative">INITIATIVE</a><img src="/static/css/images/vertical_line.png" class="vertical_line"></li>
                        <li><a href="/exhibitions">EXIBITIONS</a><img src="/static/css/images/vertical_line.png" class="vertical_line"></li>
                        <li><a href="/intellecx">INTELLECX</a><img src="/static/css/images/vertical_line.png" class="vertical_line"></li>
                        <li style="margin-top:2.5px;"><a href="/campus_ambassdor">CAMPUS AMBASSADOR</a><img src="/static/css/images/vertical_line.png" class="vertical_line" style="display:none;"></li>
                    </ul>                           
                </div>
                
                <hr id="head_hr">
                </div>
            </header>

            <footer>
                <a href="https://play.google.com/store/apps/details?id=com.vishalaksh.technex" target="_blank"><div class="foot_div"><img src="/static/css/images/play.png"></div></a>
                <a href="https://www.facebook.com/Technex/" target="_blank"><div class="foot_div"><img src="/static/css/images/fb.png"></div></a>
                <a href="https://www.youtube.com/user/technexiitbhu" target="_blank"><div class="foot_div"><img src="/static/css/images/youtube.png"></div></a>
                <a href="https://twitter.com/technexiitbhu" target="_blank"><div class="foot_div"><img src="/static/css/images/twitter.png"></div></a>
            </footer>
</div>
<div style="background:url(/static/css/images/404.jpg) center center fixed;background-size:100% 100%;height:85vh;width:99vw;margin-top:70px"></div>

</body>
</html>