<!DOCTYPE html>
{% load staticfiles %}
<html>
<head lang="en">
	<meta charset="UTF-8">
	<title>{{ user.name }}</title>
</head>
<body>
	Hello {{ user.name }}
	<a href="/logout/">Logout</a><br/>
	Your Teams-<br/>
	{% if zipped_data1 %}
	{% for team,event in zipped_data1 %}
	<a href="/team/{{ team.slug }}/">{{ team.team_name }}</a> participating in {{ event.name }}
	<br/>
	{% endfor %}
	{% endif %}
	{% if zipped_data2 %}
	{% for team,event in zipped_data2 %}
	<a href="/team/{{ team.slug }}/">{{ team.team_name }}</a> participating in {{ event.name }}
	<br/>
	{% endfor %}
	{% endif %}
	<body>
</html>
