{% load staticfiles %}
{% autoescape off %}﻿
<!DOCTYPE html>
<html>
	<head>
	<title>Events</title>
	<link rel="icon" type="image/png" href="/static/css/images/favicon.ico">
	<link rel="stylesheet" type="text/css" href="/static/css/style2.css">
	<link rel="stylesheet" type="text/css" href="/static/css/styleevent2.css">
	<script src= "/static/js/jquery.js"></script>
	
	
	<link rel="stylesheet" type="text/css" href="/static/css/footer.css">
	<link rel="stylesheet" type="text/css" href="/static/css/navbarEvents.css">
	<link rel="stylesheet" type="text/css" href="/static/css/styleafter3.css">
	<style>

		.sub{
			font-size: 1.25em;
		}

		

		#wrapper{
			width: 71.8%;
			height: 90%;
			background: url(/static/css/images/bg.jpg) center center fixed;
			background-size: 100% 100%;;
			left: 386px;
			top: 96px;
			position: absolute;
		}

		@font-face{
			font-family: 'LR';
			src:url(/static/css/fonts/Lato-Regular.ttf);
		}
		body{
			background: #fff;
		}

		h2{
			color: white;
			font-family: 'L';
			margin-bottom: 0;
			margin-top: 10px;
		}
		p{
			color: white;
			font-size: 1.15em;
		}

		.vertical_line{
			margin-bottom: -3px;
		}
		#LeftElement{display: none;}
		#MiddleElement2{position: absolute;}
		.MiddleElement1 ul li{cursor: pointer;font-family: "LR";}
		header{position: absolute;}
		#nav{
			position: absolute;
			left: 216px;
			display: inline-block;
			width: 1215px;
			top: 20px;
		}
		header div ul li{
			list-style-type: none;
			display: inline-block;
			/*padding-right: 21.6px;*/			
		}
		@font-face{
			font-family: "Lato";
			src:url(/static/css/fonts/Lato-Light.ttf);
		}
		body{
			font-family: Lato;
		}
		@font-face{
			font-family: "L";
			src:url(/static/css/fonts/Lato-Bold.ttf);
		}
		#backelement1{
			margin-top: 50px;
			background: url(/static/css/images/texture.png);
			opacity: 0.6;
			position: absolute;
			width: 35%;
			height: 550px;
			top: 100px;
			left: -64.5px;
			z-index: 50;
		}

		
		.MiddleElement1 ul{
			left: 0px;
			
			width: 200px;
			padding-left: 0;
			text-align: left;
			margin-left: 30px;
		}
		.MiddleElement1 ul li{
			list-style-type: none;
			background-color: rgba(90, 90, 90, 0.1);
			border-bottom: 1px solid white;
			color: white;
			padding-left: 10px;
		}

		.MiddleElement1 ul li:hover{
			border-bottom: 1px solid #18c181;
			background-color: rgba(90, 90, 90, 0);
		}
		
		.check10{
			background-color: rgba(0, 0, 0, 0.4);
			font-family: L;
		}
		#overlay{
			height: 500px;
			width: 450px;
			position: absolute;
			opacity: 0.4;
			left: -64.5px;
			top: 100px;
			z-index: 40;


		}

		#icons{
			position: absolute;
			bottom: 45px;
			right: 5%;
			width: 250px;
			height: 250px;
			background-size: 250px 250px ;
			background: url(/static/css/images/item2.png) no-repeat center;
		}

	</style>

		
		<script type="text/javascript" src=	"/static/js/list2.js"></script>
		<script type="text/javascript" src="/static/js/check2.js"></script>
		<script type="text/javascript" src="/static/js/link2.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
		    	$(".left").click(function(){
		        $(".left").removeClass("backadd clicked");
		        $(this).addClass("backadd clicked");
		        
    		});
		    $("#finalMiddle").hide();
		});
		json = {{ data }}; 
		</script>

		<script type="text/javascript" src= "/static/js/subeventclick.js"></script>


</head>
	<body><font>
	<header>
                <div style="position: fixed;" id="navbar">

                <div class="iit_bhu_logo" >
                    <a href="/"><img src="/static/css/images/technex_logo.png" class="iitbhu_logo_left" width="17.5%"></a>
                </div>
                <!-- Navbar --> 
                <div class="navbar_top">
                    <ul >
                        <li><a href="/events">EVENTS</a><img src="/static/css/images/vertical_line.png" class="vertical_line"></li>
                        <li><a href="/workshops">WORKSHOPS</a><img src="/static/css/images/vertical_line.png" class="vertical_line"></li>
                        <li><a href="/guest_lectures">GUEST LECTURES</a><img src="/static/css/images/vertical_line.png" class="vertical_line"></li>
                        <li><a href="/sponsors">SPONSORS</a><img src="/static/css/images/vertical_line.png" class="vertical_line"></li>
                        <li><a href="/initiative">INITIATIVE</a><img src="/static/css/images/vertical_line.png" class="vertical_line"></li>
                        <li><a href="/exhibitions">EXIBITIONS</a><img src="/static/css/images/vertical_line.png" class="vertical_line"></li>
                        <li><a href="/intellecx">INTELLECX</a><img src="/static/css/images/vertical_line.png" class="vertical_line"></li>
                        <li><a href="/campus_ambassdor">CAMPUS AMBASSADOR</a><img src="/static/css/images/vertical_line.png" class="vertical_line" style="display:none;"></li>
                    </ul>                          
                </div>
                
                <hr id="head_hr">
                </div>
            </header>

        <footer>
                <a href="https://play.google.com/store/apps/details?id=com.vishalaksh.technex" target="_blank"><div class="foot_div"><img src="/static/css/images/play.png"></div></a>
                <a href="https://www.facebook.com/Technex/" target="_blank"><div class="foot_div"><img src="/static/css/images/fb.png"></div></a>
                <a href="https://www.youtube.com/user/technexiitbhu" target="_blank"><div class="foot_div"><img src="/static/css/images/youtube.png"></div></a>
                <a href="https://twitter.com/technexiitbhu" target="_blank"><div class="foot_div"><img src="/static/css/images/twitter.png"></div></a>
            </footer>
		
		<div id= "LeftElement" style= "display: block;" class="backadd4">
			<div id= "backelelement1">
			<ul><p style= "cursor: default; font-size: 31.9px; font-family: L;text-align:center;border-top:1px solid white;border-bottom:1px solid white;color:white;margin-top:-16px;padding-top:14px;padding-bottom:14px" id= "event">Events</p>
				<li id= "item2" class= "backadd left" style="margin-top:-33px;" onclick="function1()">Robonex</li>
				<li id= "item6" class="left" onclick="function1()">Extreme engineering</li>
				<li id= "item12" class="left" onclick="function1()">Byte the bits</li>
				<li id= "item9" class="left" onclick="function1()">Riqueza</li>
				<li id= "item7" class="left" onclick="function1()">Creatrix</li>
				<li id= "item10" class="left" onclick="function1()">Clutch</li>
				<li id= "item11" class="left" onclick="function1()">Supernova</li>
				<li id= "item8" class="left" onclick="function1()">Pahal</li>
				<li id= "item3" class="left" onclick="function1()">Modex</li>
				<li id= "item5" class="left" onclick="function1()">Edunex</li>
			</ul>
		</div>
		</div>
		<div id="wrapper">
		<div id="icons"></div>
			<div class= "MiddleElement1" id= "robo" style= "display: block;">
			<h2>Robonex</h2><hr width= "222.5px" align= "left">
			<p>An adrenaline charged event where bots clashto outwit and outmanuevre in a battle of wills and skills. Robonex brings to you a plethora of opportunities to highlight your knowledge of robotics and the mathematics and the alogoritm that underpin it.
			<br>
			<h2 class="sub">Sub events</h2><hr width= "130px" align= "left">
			<ul id= "it1">
				<li id= "r1" alt= "Combat Robotics" class="sub_e">Robowars</li>
			<li id= "r2" alt= "Gesture Control robotics" class="sub_e">Xestos</li>
			<li id= "r3" alt= "Hydraulics robotics" class="sub_e">Hydracs</li>
			<li id="r7" class="sub_e">Aqua Combat</li>
			<ul style= "left: 200px; top: 0;">
			<li id= "r6" alt= "Image processing robotics" class="sub_e">Pixelate</li>
			<li id= "r4" alt= "Endurance robotics race event" class="sub_e">Hurdle Mania</li>
			<li id= "r5" alt= "Autonomous grid solving robotics" class="sub_e">Grid Explorer</li>
			</ul></ul>
			</div>
			<div class= "MiddleElement1" id= "bbb">
			<h2>Byte The Bits</h2><hr width= "222.5px" align= "left" >
			<p>It is a competition that will test your coding skills to the limit with the mix of events judging analytics and mathematical acumen. Byte the bits ensures enticing prize money, exciting problems and a chance to compete with the best.</p>
			<h2 class="sub">Sub events</h2><hr width= "130px" align= "left" >
			<ul id= "it12">
				<li id= "b1" alt= "Android development" class="sub_e">Hackathon</li>
			<li id= "b2" class="sub_e">Mathletics</li>
			<ul style= "left: 200px; top: 0;"><li id= "b3" class="sub_e">Prayaas</li>
			<li id= "b4" class="sub_e">Wizard of byteland</li>
			</ul></ul>
			</div>
			<div class= "MiddleElement1" id= "modex">
			<h2>Modex</h2><hr width= "222.5px" align= "left">
			<p>Modex is the event for those who dare to change the world. This event exhibits innovative solutions to intricate social or industrial problems. Modex is the event for the next big thing!</p>
			<p>Modex is a distinctive model exhibitions event with innovative genres. Moodex is home to many ground breaking ideas and designs as participants come up with unique ways to provide intricate solutions to highly complex problems.</p>
			<h2 class="sub">Sub events</h2><hr width= "130px" align= "left">
			<ul id= "it3" >
				<li id= "m1" class="sub_e">Open Hardware</li>
			<li id= "m2" class="sub_e">Open Software</li>
			<li id= "m3" class="sub_e">Open simulation</li>
			<ul style= "left: 200px; top: 0;">
			
			</ul>
			</div>
			<div class= "MiddleElement1" id= "edunex">
			<h2>Edunex</h2><hr width= "222.5px" align= "left" >
			<p>Edunex is one-of-a-kind educational fair where universities from Europe and America come together to promote higher education, and present opportunities to students seeking a degree abroad. We have hadexcellent associations with premium European institutions like Berlin university, Franhoufer university, University of Cologne, Max-Planck institute, etc.</p>
			<br>
			</div>
			<div class= "MiddleElement1" id= "Extreme">
			<h2>Extreme Engineering</h2><hr width= "222.5px" align= "left" >
			<p>The world brings to you those who are willing to get their hands dirty. And here	, we want you to do exactly that. Let go of the mad scientist inside you, and bring your engineering dream to life.</p>
			<p>Make your very own race car, or design the perfect aeroplane, or bridges or even chemicals, this is where the real test of engineering happens, in the field.</p><br>
			<h2 class="sub">Sub events</h2><hr width= "130px" align= "left" >
			<ul id= "it5">
			<li id= "x1" class="sub_e">Siesmica</li>
			<li id= "x2" class="sub_e">Goldberg's Alley</li>
			<li id= "x3" class="sub_e">Momentum</li>
			
			<ul style= "left: 200px; top: 0;">
			<li id= "x4" class="sub_e">La Trajectoire</li>
			<li id= "x5" class="sub_e">Axelerate</li>
			<li id= "x6" class="sub_e">Bridge- It</li>
			</ul>
			</div>
			<div class= "MiddleElement1" id= "create">
			<h2>Creatrix</h2><hr width= "222.5px" align= "left" >
			<p>Creatrix demonstrates ingenuity at its best. It's time to turn your imaginations into reality with competitions involving animation, design, documentaryand photography. So let your mind flow free and come up with a masterpiece.</p>
			<br>
			<h2 class="sub">Sub events</h2><hr width= "130px" align= "left" >
			<ul id= "it6">
				<li id= "cr1" class="sub_e">Animaze</li>
			<li id= "cr2" class="sub_e">Minimaze</li>
			<li id= "cr3" class="sub_e">Iso 200 F1.5</li>
			
			<ul style= "left: 200px; top: 0;"><li id= "cr4" class="sub_e">Collage</li>
			<li id= "cr5" class="sub_e">Avant Grade</li>
			<li id= "cr6" class="sub_e">Animate</li>
			</ul>
			</div>
			<div class= "MiddleElement1" id= "pahal">
			<h2>Pahal</h2><hr width= "222.5px" align= "left" >
			<p>Responsibilty is a big word. As the future of this nations, and its only hope, this is our attempt to give back to the society in our own unique way. One of the signature events oof technex, Pahal intends to nurture a new breed of socially conscious technocrats with the skills and temperament to make our society an dthis world a better place to live in, by providing innovative engineering solutions  to its problems and dilemmas.</p>
			<br>
			<h2 class="sub">Sub events</h2><hr width= "130px" align= "left" >
			<ul id= "it7">
				<li id= "p1" class="sub_e">Sampann</li>
			<li id= "p2" class="sub_e">Envision</li>
			
			<ul style= "left: 200px; top: 0;"><li id= "p3" class="sub_e">Aagaz</li>
			<li id= "p4" class="sub_e">Balvigyan</li>
			
			</ul>
			</div>
			<div class= "MiddleElement1" id= "riqueza">
			<h2>Riqueza</h2><hr width= "222.5px" align= "left" >
			<p>With an eye on the cut-throat competitions in the corporate world, we give you a chance to polish and shine your manegerial skills in  this one of a  kind amalgaton of numerous businee application, focussed events. From thestock market to that crazy big idea, we have an event for everything that your inner businessman wants.</p>
			<br>
			<h2 class="sub">Sub events</h2><hr width= "130px" align= "left" >
			<ul id= "it8">
				<li id= "q1" class="sub_e">Bulls on the floor</li>
			<li id= "q2" class="sub_e">Krackat</li>
			<li id= "q3" class="sub_e">SpotLight</li>
			<li id= "q4" class="sub_e">Brand Aid</li>
			<ul style= "left: 200px; top: 0;"><li id= "q5" class="sub_e">Manthan</li>
			<li id= "q6" class="sub_e">Judgement Call</li>
			<li id= "q7" class="sub_e">Analiticity</li>
			

			
			</ul>
			</div>
			<div class= "MiddleElement1" id= "clutch">
			<h2>Clutch</h2><hr width= "222.5px" align= "left" >
			<p>Reload your guns and lace up your lucky boots coz the biggest  LAN gaming event of India is back. The stakes are high this time so head for the battle field, vanquish your enemy and show your might with the controller. With battle cries in the air and courage in your hearts, get ready for the kill.</p>
			<br>
			<h2 class="sub">Sub events</h2><hr width= "130px" align= "left" >
			<ul id= "it9">
				<li id= "c1" class="sub_e">Fifa 15</li>
			<li id= "c2" class="sub_e">Need for Speed: Most Wanted</li>
			
			<ul style= "left: 200px; top: 0px;"><li id= "c3" class="sub_e">Counter Strike 1.6</li>
			<li id= "c4" class="sub_e">Dota 2</li>
			</ul>
			</div>
			<div class= "MiddleElement1" id= "supernova">
			<h2>Supernova</h2><hr width= "222.5px" align= "left" >
			<p>With supernova its time to go beyond the horizons and explore the interstellar in the quest to unvield the universe's mysterious truth. We bring to you quizzes and star gazing events that judge your knowledge about star studded campus abve all of us.</p>
			<br>
			<h2 class="sub">Sub events</h2><hr width= "130px" align= "left" >
			<ul id= "it10">
				<li id= "sp1" class="sub_e">Astro Quiz</li>
			<li id= "sp2" class="sub_e">Exploring the interstellar</li>
			</ul>
			<ul style= "left: 200px; top: 0;" id= "sp6">
			</ul>
		</div>
		</div></div>

		<div id= "middle">
		<ul>
			<li id= "back" style="font-family: L; font-size: 27px;">Back to events</li>
			<li id= "sub1" class="events">Robowars</li>
			<li id= "sub2" class="events">Xestos</li>
			<li id= "sub3" class="events">Hydracs</li>
			<li id= "sub4" class="events">Pixelate</li>
			<li id= "sub5" class="events">Hurdle Mania</li>
			<li id= "sub6" class="events">Grid Xplorer</li>
			<li id="sub7" class="events"></li>
			
		</ul></div><div id= "middle">
		<ul>
		<li id= "back" style="font-family: L; font-size: 27px;">Back to events</li>
		</ul>
		</div>
		
		<div id= "LastElement">
		<ul style="cursor: pointer;" id="last_ul">
			<!-- <li id= "pr1">Introduction</li>
			<li id= "pr2">Problem statement</li>
			<li id= "pr3">Contact us</li>
			-->
		</ul>
		</div>
		<div id= "finalMiddle">
		<div id="intro" style="display:none"></div>
		<div id="contact" style="display:none"></div>
		</div></font>

		<script type="text/javascript">		
			function function1(){
				setTimeout(function(){
				var left_avail=$(".left");
				var checked=$(".backadd")[0];
				var pos=left_avail.index(checked);
				var icons=$("#icons");
				var name=$(".backadd").attr("id");
				console.log(name);
				console.log("UP");
				var back="background";
				switch(pos){
					case 0:icons.css("background",'url(static/css/images/'+name+'.png) no-repeat center');break;
					case 1:icons.css("background",'url(static/css/images/'+name+'.png) no-repeat center');break;
					case 2:icons.css("background",'url(static/css/images/'+name+'.png) no-repeat center');break;
					case 3:icons.css("background",'url(static/css/images/'+name+'.png) no-repeat center');break;
					case 4:icons.css("background",'url(static/css/images/'+name+'.png) no-repeat center');break;
					case 5:icons.css("background",'url(static/css/images/'+name+'.png) no-repeat center');break;
					case 6:icons.css("background",'url(static/css/images/'+name+'.png) no-repeat center');break;
					case 7:icons.css("background",'url(static/css/images/'+name+'.png) no-repeat center');break;
					case 8:icons.css("background",'url(static/css/images/'+name+'.png) no-repeat center');break;
					case 9:icons.css("background",'url(static/css/images/'+name+'.png) no-repeat center');break;}
				},1);
				

			}
		</script>
	</body>
</html>

{% endautoescape %}