<!DOCTYPE html>
<html>
    <head>
    	<title>Guest Lectures</title>
        <link rel="icon" type="image/png" href="/static/css/images/favicon.ico">
    	<link rel="stylesheet" type="text/css" href="/static/css/demo.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/card.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/pattern.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/navbarGuest.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/styleGuest.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/footer.css">
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-68539305-2', 'auto');
          ga('send', 'pageview');

        </script>
        <script>
            if (navigator.userAgent.toLowerCase().indexOf('firefox') > -1) {
                var root = document.getElementsByTagName('html')[0];
                root.setAttribute('class', 'ff');
            };
        </script>
    	
    </head>
    <body>
        <header>
            <div style="position: fixed;" id="navbar">

                <div class="iit_bhu_logo" >
                    <a href="/"><img src="/static/css/images/logo_technex_white.png" id="iitbhu_logo_left" width="17.5%"></a>
                </div>
                <!-- Navbar --> 
                <div class="navbar_top">
                    <ul >
                        <li><a href="/events">EVENTS</a><img src="/static/css/images/vertical_line.png" class="vertical_line"></li>
                        <li><a href="/workshops">WORKSHOPS</a><img src="/static/css/images/vertical_line.png" class="vertical_line"></li>
                        <li><a href="/guest_lectures">GUEST LECTURES</a><img src="/static/css/images/vertical_line.png" class="vertical_line"></li>
                        <li><a href="/sponsors">SPONSORS</a><img src="/static/css/images/vertical_line.png" class="vertical_line"></li>
                        <li><a href="/initiative">INITIATIVE</a><img src="/static/css/images/vertical_line.png" class="vertical_line"></li>
                        <li><a href="/exhibitions">EXIBITIONS</a><img src="/static/css/images/vertical_line.png" class="vertical_line"></li>
                        <li><a href="/intellecx">INTELLECX</a><img src="/static/css/images/vertical_line.png" class="vertical_line"></li>
                        <li style="margin-top:2.5px;"><a href="/campus_ambassdor">CAMPUS AMBASSADOR</a><img src="/static/css/images/vertical_line.png" class="vertical_line" style="display:none;"></li>
                    </ul>                           
                </div>
                
                <!-- <hr id="head_hr"> -->
            </div>
        </header>

        <footer>
                <a href="https://play.google.com/store/apps/details?id=com.vishalaksh.technex" target="_blank"><div class="foot_div"><img src="/static/css/images/play.png"></div></a>
                <a href="https://www.facebook.com/Technex/" target="_blank"><div class="foot_div"><img src="/static/css/images/fb.png"></div></a>
                <a href="https://www.youtube.com/user/technexiitbhu" target="_blank"><div class="foot_div"><img src="/static/css/images/youtube.png"></div></a>
                <a href="https://twitter.com/technexiitbhu" target="_blank"><div class="foot_div"><img src="/static/css/images/twitter.png"></div></a>
            </footer>
	
	<div id="wrapper">
		<div id="previous">
			<h3 align="center">OUR PREVIOUS SPEAKERS</h3>
	    </div>
        <div class="content">
            <!-- trianglify pattern container -->
            <div class="pattern pattern--hidden"></div>
            <!-- cards -->
            <div class="wrapper">
                <div class="card">
                    <div class="card__container card__container--closed">
                        <svg class="card__image" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 500" preserveAspectRatio="xMidYMid slice">
                            <defs>
                                <clipPath id="clipPath1">
                                    <!-- r = 992 = hyp = Math.sqrt(960*960+250*250) -->
                                    <circle class="clip" cx="960" cy="250" r="1500"></circle>
                                </clipPath>
                            </defs>
                            <image clip-path="url(#clipPath1)" width="1920" height="500" xlink:href="/static/css/images/a.jpg"></image>
                        </svg>



                        <div class="card__content">

                        	

                            <i class="card__btn-close fa fa-times" ><img  class="close"src="/static/css/images/close.png"></i>
                            <div class="card__caption">
                                <h2 class="card__title">Prof. Bjarne Stroustrup</h2>
                                <!-- <p class="card__subtitle">Bharat Ratna Awardee</p> -->
                            </div>

                            
	                        
                            <div class="card__copy">
                            <div class="meta">
                            <div id="desc">

		                        <span class="name"><b>Prof. Bjarne Stroustrup</b></span>
		                        <br>
		                        <hr>
	                        	<span class="description">Pre-Technex guest lecture held on 12 January, 2015.Prof. Bjarne Stroustrup a.k.a father of C++ programming language, is a Danish computer scientist. Currently he is working at Morgan Stanley and is also a visiting professor at Columbia University. He has served as the head of AT&T Bell Labs from its creation till 2002. He was elected as a member of National Academy of Engineering in 2004. With numerous notable awards under his name such as Grace Murry Hopper Award, IEEE Computer Society Computer Entrepreneur Award and William Procter Prize for Scientific Achievement, he truly is a gem of the computer world. 
                                </span>

	                        </div>
                                
                            </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card__container card__container--closed">
                        <svg class="card__image" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 500" preserveAspectRatio="xMidYMid slice">
                            <defs>
                                <clipPath id="clipPath2">
                                    <!-- r = 992 = hyp = Math.sqrt(960*960+250*250) -->
                                    <circle class="clip" cx="960" cy="250" r="992"></circle>
                                </clipPath>
                            </defs>
                            <image clip-path="url(#clipPath2)" width="1920" height="500" xlink:href="/static/css/images/b.jpg"></image>
                        </svg>
                        <div class="card__content">
                            <i class="card__btn-close fa fa-times" ><img  class="close"src="/static/css/images/close.png"></i>
                            <div class="card__caption">
                                <h2 class="card__title">Prof. Daniela Cerqui</h2>
                                <!-- <p class="card__subtitle">Prof. Bjarne Stroustrup</p> -->
                            </div>
                            <div class="card__copy">
                                <div class="meta">
                                    <!-- <img class="meta__avatar" src=" " alt="author03" /> -->
                                    <div id="desc">
	                        <span><b>Prof. Daniela Cerqui</b></span>
	                        <br>
	                        <hr>
	                        <span>Dr. Daniela Cerqui is a social and cultural anthropologist at the University of Lausanne and explores the edges of "posthuman" society, a society marked by human and computer hybridisation. Her focus is on the development of radical new information technologies and the 'information society' these technologies are supposed to create. She completed a postdoctoral fellowship in the Department of Cybernetics, University of Reading, UK, with Kevin Warwick, a pioneer in the field of brain to machine and brain-to-brain communication and the first person to have a chipimplanted in one of his nerves for enhancement purposes.
                            </span>

	                        </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card__container card__container--closed">
                        <svg class="card__image" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 500" preserveAspectRatio="xMidYMid slice">
                            <defs>
                                <clipPath id="clipPath3">
                                    <!-- r = 992 = hyp = Math.sqrt(960*960+250*250) -->
                                    <circle class="clip" cx="960" cy="250" r="992"></circle>
                                </clipPath>
                            </defs>
                            <image clip-path="url(#clipPath3)" width="1920" height="500" xlink:href="/static/css/images/c.jpg"></image>
                        </svg>
                        <div class="card__content">
                            <i class="card__btn-close fa fa-times" ><img  class="close"src="/static/css/images/close.png"></i>
                            <div class="card__caption">
                                <h2 class="card__title">Sagarika Ghose</h2>
                                <!-- <p class="card__subtitle">Prof. Daniela Cerqui</p> -->
                            </div>
                            <div class="card__copy">
                                <div class="meta">
                                    <div id="desc">
	                        <span><b>Sagarika Ghose</b></span>
	                        <br>
	                        <hr>
	                        <span>Sagarika Ghose has been a very noted journalist for over two decades. She received her bachelor's degree in History from St. Stephen's College, Delhi. A recipient of the Rhodes Scholarship in 1987, she was educated at the University of Oxford. In 2014, The Rhodes Project, named her as one of the 13 famous women Rhodes Scholars in the world.She has worked at The Times Of India, Outlook magazine and The Indian Express. She was the deputy editor and a prime time anchor on the news network CNN-IBN. At present, she works as consulting editor at The Times of India. She is the author of two novels, The Gin Drinkers and Blind Faith, both published worldwide by Harper Collins.
                            </span>

	                        </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card__container card__container--closed">
                        <svg class="card__image" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 500" preserveAspectRatio="xMidYMid slice">
                            <defs>
                                <clipPath id="clipPath4">
                                    <!-- r = 992 = hyp = Math.sqrt(960*960+250*250) -->
                                    <circle class="clip" cx="960" cy="250" r="992"></circle>
                                </clipPath>
                            </defs>
                            <image clip-path="url(#clipPath4)" width="1920" height="500" xlink:href="/static/css/images/d.jpg"></image>
                        </svg>
                        <div class="card__content">
                            <i class="card__btn-close fa fa-times" ><img  class="close"src="/static/css/images/close.png"></i>
                            <div class="card__caption">
                                <h2 class="card__title">Dr. A Sivathanu Pillai</h2>
                                <!-- <p class="card__subtitle">Sagarika Ghose</p> -->
                            </div>
                             <div class="card__copy">
                                <div class="meta">
                                    <div id="desc">
	                        <span><b>Dr. A Sivathanu Pillai</b></span>
	                        <br>
	                        <hr>
	                        <span>Dr. A Sivathanu Pillai joined the Defence Research and Development Organisation (DRDO) in 1986 and was the Programme Director of the Integrated Guided Missile Development Program under the leadership of Dr. APJ Abdul Kalam. He served as the Chief Controller of R&Dand was a distinguished scientist at DRDO. BrahMos, the India-Russia joint missile development program evolved under his leadership with him as the founder CEO and Managing Director.He has served as the Vice President of International Project Management Association and as Special Secretary representing India in the India-Russia Inter-Governmental Commission on Military-Technical Cooperation.
                            </span>

	                        </div>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card__container card__container--closed">
                        <svg class="card__image" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 500" preserveAspectRatio="xMidYMid slice">
                            <defs>
                                <clipPath id="clipPath5">
                                    <!-- r = 992 = hyp = Math.sqrt(960*960+250*250) -->
                                    <circle class="clip" cx="960" cy="250" r="992"></circle>
                                </clipPath>
                            </defs>
                            <image clip-path="url(#clipPath5)" width="1920" height="500" xlink:href="/static/css/images/e.jpg"></image>
                        </svg>
                        <div class="card__content">
                            <i class="card__btn-close fa fa-times" ><img  class="close"src="/static/css/images/close.png"></i>
                            <div class="card__caption">
                                <h2 class="card__title">Rahul Shukla</h2>
                                <!-- <p class="card__subtitle">Dr. A Sivathanu Pillai</p> -->
                            </div>
                             <div class="card__copy">
                                <div class="meta">
                                    <div id="desc">
	                        <span><b>Rahul Shukla</b></span>
	                        <br>
	                        <hr>
	                        <span>Rahul Shukla is the Head of Corporate Banking At Citibank India. His team is responsible for full banking coverage of large local Indian corporates, public sector institutions, financial institutions and MNCs operating in India. Rahul is a member of the Global Corporate Banking Operating Committee.Prior to his present assignment, he was Head of the Asia-Pacific TMT (technology, media and telecommunications) Investment Banking team based in Hong Kong.Under his leadership, Citi's TMT franchise was recognised as the best in Asia by Finance Asia and the Asset Magazine for 3 years in a row. He has an MBA from the Indian Institute of Management Bangalore and a Bachelor of Technology from the Indian Institute of Technology (BHU) Varanasi, graduating as the gold medalist in both.
                            </span>

	                        </div>
                                </div>
                                
                            </div>

                        </div>
                    </div>
                </div>

                
    </div>
    <!-- /container -->
    <!-- JS -->
    <script src="/static/js/trianglify.min.js"></script>
    <script src="/static/js/TweenMax.min.js"></script>
    <!-- // <script src="js/vendors/ScrollToPlugin.min.js"></script> -->
    <script src="/static/js/cash.min.js"></script>
    <script src="/static/js/Card-circle.js"></script>
    <script src="/static/js/demo.js"></script>
</body>
</html>
