{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head lang="en">
	    <meta charset="UTF-8">
      <title>Technex-Login</title>
      <meta name="google-signin-client_id" content="702913643852-qbsg8t4bvc06h57lbomh8th6uvbvhhbr.apps.googleusercontent.com">
      <script src="https://apis.google.com/js/platform.js" async defer></script>
    </head>
<body>
<form role="form" method="post" action= "/login/" id='post-form'>
    {% csrf_token %}
    <h1> Login </h1>
  <div>
	<input class="form-control" placeholder="Email" id="id_email" maxlength="255"  name="email" type="text" required autofocus=""/>
  <span id="email_error_msg"></span></div>
	<input type="password" class="form-control" placeholder="Password" id="id_password" name="password" required />
  <div id ='form_error_msg'></div>
  {% if response %}
  {{ response }}
  {% endif %}
  <br>
<button  type="submit" value="Submit" id="login_button"/>Sign in</button>
  <p> Not a member? <a href="{% url 'signup' %}"> SignUp! </a></p>
</form>
<script src="{% static "js/google-login.js" %}"> </script>
<div class="g-signin2" data-onsuccess="onSignIn" onclick="onSignInClick();"></div>
<a href="#" onclick="signOut();">Sign out</a>


<script>
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into Facebook.';
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

</script>
<script type="text/javascript">
  function createCookie(name,value){
    document.cookie = name+"="+value+";";
  }

  function onSignIn(googleUser) {
  var csrftoken = getCookie('csrftoken');
  var profile = googleUser.getBasicProfile();
  createCookie('ID', profile.getId());
  createCookie('name', profile.getName());
  createCookie('Image URL', profile.getImageUrl());
  createCookie('Email', profile.getEmail());
  $.ajax({
    url:"/idcheck/",
    type:"POST",
    dataType:"json",
    data: {
      id : profile.getId(),
      'csrfmiddlewaretoken': csrftoken
    },
    success : function(json) {
      if(json.response == "EXIST"){
        window.location = "/";
      }
      else {
        window.location = "/signup2";
      }
    },
    error : function(xhr,errmsg,err) {
        alert(xhr.status + ": " + xhr.responseText);
    }

  });
}

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '461359507257085',
    cookie     : true,  // enable cookies to allow the server to access
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.2' // use version 2.2
  });

  // Now that we've initialized the JavaScript SDK, we call
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!';
    });
  }
</script>

<script src="{% static "js/facebook-login.js" %}"> </script>

<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>

<div id="status">
</div>
</body>
<script src="{% static "js/jquery.min.js" %}"> </script>
<script src="{% static "js/jquery-1.11.3.min.js" %}"> </script>
<script src="{% static "js/login-ajax.js" %}"> </script>


</html>
