<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
       	
        <meta charset="utf-8">

        <title>Sponsors</title>
        <link rel="icon" type="image/png" href="/static/css/images/favicon.ico">
        <meta name="description" content="">

        <!-- Meta Viewport -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

    	<link rel="stylesheet" href="/static/css/navbarSpon.css">
		<link rel="stylesheet" href="/static/css/styleSpon.css">
		<link rel="stylesheet" href="/static/css/mstyleSpon.css">
		<link rel="stylesheet" type="text/css" href="/static/css/footer.css">
		<!-- <link rel="stylesheet" href="reset_2.css"> -->
    </head>
	<style>
			header.main{
				top:20px;
			}
body{
  height: auto;
}

html {
  overflow-x: hidden;
}

.viewport{
display:block;
background:none;
}
		</style>

<body>
		<header>
            <div style="position: fixed;" id="navbar">

                <div class="iit_bhu_logo" >
                    <a href="/"><img src="/static/css/images/logo_technex_white.png" id="iitbhu_logo_left" width="17.5%"></a>
                </div>
                <!-- Navbar --> 
                <div class="navbar_top">
                     <ul >
                        <li><a href="/events">EVENTS</a><img src="/static/css/images/vertical_line.png" class="vertical_line"></li>
                        <li><a href="/workshops">WORKSHOPS</a><img src="/static/css/images/vertical_line.png" class="vertical_line"></li>
                        <li><a href="/guest_lectures">GUEST LECTURES</a><img src="/static/css/images/vertical_line.png" class="vertical_line"></li>
                        <li><a href="/sponsors">SPONSORS</a><img src="/static/css/images/vertical_line.png" class="vertical_line"></li>
                        <li><a href="/initiative">INITIATIVE</a><img src="/static/css/images/vertical_line.png" class="vertical_line"></li>
                        <li><a href="/exhibitions">EXIBITIONS</a><img src="/static/css/images/vertical_line.png" class="vertical_line"></li>
                        <li><a href="/intellecx">INTELLECX</a><img src="/static/css/images/vertical_line.png" class="vertical_line"></li>
                        <li style="margin-top:2.5px;"><a href="/campus_ambassdor">CAMPUS AMBASSADOR</a><img src="/static/css/images/vertical_line.png" class="vertical_line" style="display:none;"></li>
                    </ul>                           
                </div>
                
                <!-- <hr id="head_hr"> -->
            </div>
        </header>

        <footer>
                <a href="https://play.google.com/store/apps/details?id=com.vishalaksh.technex" target="_blank"><div class="foot_div"><img src="/static/css/images/play.png"></div></a>
                <a href="https://www.facebook.com/Technex/" target="_blank"><div class="foot_div"><img src="/static/css/images/fb.png"></div></a>
                <a href="https://www.youtube.com/user/technexiitbhu" target="_blank"><div class="foot_div"><img src="/static/css/images/youtube.png"></div></a>
                <a href="https://twitter.com/technexiitbhu" target="_blank"><div class="foot_div"><img src="/static/css/images/twitter.png"></div></a>
            </footer>
		<!-- Sponsers-->
		<div align="center" style="background-color: white;
    position: fixed;
    width: 100%;
    height: 150px;
    margin-top: -14%;
    z-index: 98;">
		<p class="spon" align="center">OUR PREVIOUS SPONSORS</p>
	</div>	
		<div class="sponsors">

			<div class="container">
				<!-- <header> <div class="title1" style="margin-bottom:40px;background:#20202a;"> OUR PREVIOUS SPONSERS </div> </header> -->
                                
                              
				<header><div class="title">Title Sponsor</div></header>
				<ul>
					<li><a href="http://www.oyorooms.com/" target="_blank"><img src="https://www.dropbox.com/s/odhxtym3p0aoimd/Oyo%20logo.png?dl=1" alt=""></a></li>
				</ul>

                                
				<header><div class="title">Associate Sponsor</div></header>
				<ul>
					<li><a target="_blank" href="http://www.adani.com/"><img alt="" src="https://www.dropbox.com/s/bo70d7y44xuflyb/Adani%20logo%202012.png?dl=1"></a></li>
					<li><a href="http://www.technex.in/imr_pdf/" target="_blank"><img src="https://www.dropbox.com/s/3whmobhzrf6crpe/imr%20logo.jpg?dl=1" alt=""></a></li>
					<li><a href="http://tatasteel.com/" target="_blank"><img style="margin-bottom:20px;max-width:100%;" src="https://www.dropbox.com/s/gas130pzmsx981c/tatasteel.png?dl=1" alt=""></a></li>
				</ul>
				
				<header>
					
						<div class="title">Powered By</div>
					
				</header>
				<ul>
					<li><a href="http://www.unep.org/" target="_blank"><img src="https://www.dropbox.com/s/uz0r22y6prkm0ua/unep.jpg?dl=1" alt=""></a></li>
<li><a href="http://www.technex.in/sponsors/#"><img src="https://www.dropbox.com/s/d6lm7nwpq5hkepi/natham.png?dl=1"></a></li>
<li><a href="http://www.technex.in/sponsors/#"><img src="https://www.dropbox.com/s/ht9747axzye7ji5/mukku.png?dl=1"></a></li>
					
				</ul>
                                
				<header>
					
						<div class="title">Major Sponsors</div>
					
				</header>
				<ul>
	<li><a href="https://www.ucobank.com/" target="_blank"><img src="https://www.dropbox.com/s/954evx1h1sksape/uco.jpeg?dl=1" style="height:100px;max-width:80%; margin-bottom:40px;" alt=""></a></li>
    <li><a href="http://www.technex.in/sponsors/#"><img src="https://www.dropbox.com/s/adq02xken0zwi9d/AdvanceIT.jpg?dl=1" alt=""></a></li>
<li><a href="http://www.l1coaching.co.in/" target="_blank"><img src="https://www.dropbox.com/s/54qjhw3l7s7yijr/l1logo.gif?dl=1" alt="" class="hoverZoomLink"></a></li>
<li><a href="http://www.technex.in/sponsors/www.nkcproject.com" target="_blank"><img src="https://www.dropbox.com/s/lmmtm6bzy2z101u/NKC-Projects.jpg?dl=1" alt=""></a></li>
<li><a href="http://www.technex.in/sponsors/ictonline.com/" target="_blank"><img src="https://www.dropbox.com/s/df7o4ttsot60snk/ict.png?dl=1" alt=""></a></li>
<li><a href="http://www.technex.in/sponsors/#"><img src="https://www.dropbox.com/s/pppv3k3o8rpelde/320px-GAIL_Logo.svg.png?dl=1" style="height:100px;max-width:80%; margin-bottom:40px;" alt=""></a></li>

     </ul>
                                
				<header>
					
						<div class="title">Automobile Partners</div>
					
				</header>
				<ul>

<li><a href="http://www.technex.in/sponsors/www.tatamotors.com/" target="_blank"><img src="https://www.dropbox.com/s/grqbf4nmpd91lh4/1424783437_tmp_T_LOGO.jpg?dl=1" alt=""></a></li>

<li><a href="http://www.technex.in/sponsors/#"><img src="https://www.dropbox.com/s/kat4kb4pgdwm5u3/1424783696_tmp_QaUgtMWipKV1JxjOU9__gKdmLm55XAON8EI3ZOsAgEU.jpg?dl=1" alt=""></a></li>

<li><a href="http://www.technex.in/sponsors/#"><img src="https://www.dropbox.com/s/w7kmuv8hwiiklpv/1424784146_tmp_B_LOGO.jpg?dl=1" alt=""></a></li>

</ul>
                                
				<header>
					
						<div class="title">Event Sponsors</div>
					
				</header>
				<ul>
					<li><a href="http://www.microsoft.com/" target="_blank"><img src="https://www.dropbox.com/s/5h0a36v2fp20pld/msft_logo_png.png?dl=1" alt=""></a></li>
<li><a href="http://www.asus.com/in/" target="_blank"><img src="https://www.dropbox.com/s/kr18w2qgkdx74ae/ASUS%20LOGO.jpg?dl=1" alt="" class="hoverZoomLink"></a></li>
					<li><a href="http://icfdr.org/" target="_blank"><img src="https://www.dropbox.com/s/zde3bth8nrktwok/iCDFR.png?dl=1" alt=""></a></li>
					<li><a href="http://www.axisbank.com/" target="_blank"><img src="https://www.dropbox.com/s/tc2ac1nwu2jebzd/Axis%20Bank%20LOGO.jpg?dl=1" alt=""></a></li>
					<li><a href="http://www.technex.in/sponsors/#" target="_blank"><img src="https://www.dropbox.com/s/4wtbwuq27gv8lx4/KABRA%20INVESTMENT%20-%20LOGO...JPG?dl=1" alt=""></a></li>
<li><a href="http://www.zostel.com/" target="_blank"><img src="https://www.dropbox.com/s/bl1zppdb0hi9mjh/zostel.jpg?dl=1" alt=""></a></li>
<li><a href="http://www.technex.in/sponsors/#"><img src="https://www.dropbox.com/s/lso2c6u2ksganap/stallion%20logo.jpg?dl=1" alt=""></a></li>
<li><a href="http://www.technex.in/sponsors/#"><img src="https://www.dropbox.com/s/xywkbmibmqw1v65/ZION.jpg?dl=1" alt=""></a></li>
<li><a href="http://www.biostar.com.tw/app/en/" target="_blank"><img src="https://www.dropbox.com/s/blpdsanzfym2shy/BIOSTAR.jpg?dl=1" alt=""></a></li>
<li><a href="http://www.genius.es/wSite/mp?mp=1" target="_blank"><img src="https://www.dropbox.com/s/j14d1lkwan94swc/Genius%20Live%20w%20Ideas.jpg?dl=1" alt=""></a></li>
<li><a href="http://www.technex.in/sponsors/www.antecindia.co.in/" target="_blank"><img src="https://www.dropbox.com/s/2g8tb86xol8dbmh/Antec%20new%20logo_w.jpg?dl=1" alt=""></a></li>		
<li><a href="http://www.technex.in/sponsors/#"><img src="https://www.dropbox.com/s/50bbr1nxqp4o31z/greenelectronics.png?dl=1" alt=""></a></li>
<li><a href="http://www.technex.in/sponsors/#"><img src="https://www.dropbox.com/s/ff6o8b09qeuh5c2/StenumASIA.jpg?dl=1" alt=""></a></li>			
					
				</ul>

                                
				<header>
					
						<div class="title">Event Partners</div>
					
				</header>
				
				<ul>
					
					<li><a href="http://www.hackerrank.com/" target="_blank"><img src="https://www.dropbox.com/s/m3za3gtx7xqdup2/hckrank%281%29.png?dl=1" alt=""></a></li>
					<li><a href="http://www.moneypot.in/Games/BULLS-ON-THE-FLOOR-TRIAL-146.htm" target="_blank"><img style="margin-bottom:30px" src="https://www.dropbox.com/s/2op1yj910vvl8hj/Moneypot.in%20Logo.png?dl=1" alt=""></a></li>
					<li><a href="http://www.helpageindia.org/" target="_blank"><img src="https://www.dropbox.com/s/hupdqy4rkq70uru/helpage_india.jpg?dl=1" style="height:60px;margin-bottom:30px" alt=""></a></li>
                                        <li><a href="http://www.lotuspetalfoundation.org/" target="_blank"><img src="https://www.dropbox.com/s/ws2c3shj6rdfmm0/lotuspetal.png?dl=1" alt=""></a></li>
<li><a href="http://www.giftxoxo.com/" target="_blank"><img src="https://www.dropbox.com/s/33ptahrid4y46vp/Giftxoxo%20logo.png?dl=1" alt=""></a></li>
<li><a target="_blank"><img src="https://www.dropbox.com/s/6lvpmmc3e9uofxr/blue.png?dl=1" alt=""></a></li>

				</ul>
                                
				<header>
					
						<div class="title">Entrepreneurship Partner</div>
					
				</header>
				<ul>
					<li><a href="http://yuvaprernayatra.org/" target="_blank"><img src="https://www.dropbox.com/s/izy8nk73iqjkdyv/Yuva-Prerna-Logo.jpg?dl=1" alt=""></a></li>
					
				</ul>

                                
				<header>
					
						<div class="title">Social Campaign Partner</div>
					
				</header>
				<ul>
					<li><a href="http://www.lifewithoutplastic.com/" target="_blank"><img src="https://www.dropbox.com/s/tn40hix5wjcv9la/lifewithoutplastic.jpg?dl=1" alt=""></a></li>
					
				</ul>
                                
				<header>
					
						<div class="title">Eye-wear Partner

</div>
					
				</header>
				<ul>
				<li><a href="http://www.lenskart.com/betahome2" target="_blank"><img src="https://www.dropbox.com/s/lpy88xcwjt0w9f7/logo_lens.png.jpg?dl=1" alt=""></a></li>
	

</ul>
                                
				<header>
					
						<div class="title">Building Partners</div>
					
				</header>
				<ul>
				<li><a href="http://www.mahavirheights.com//" target="_blank"><img src="https://www.dropbox.com/s/sc8w2rxqbibxvbh/mh1.PNG?dl=1" alt=""></a></li>
	
<li><a href="http://cenitinfrastructure.com//" target="_blank"><img src="https://www.dropbox.com/s/tvr5j8q081vuqm1/cenit.png?dl=1" alt=""></a></li>

</ul>
                                
				<header>
					
						<div class="title">Fitness Partner</div>
					
				</header>
				<ul>
					<li><a href="http://www.mindnsoulbeautyhealth.com/" target="_blank"><img src="https://www.dropbox.com/s/uavs5zuu84hl2d9/10690272_597223843715461_1482086156190113261_n.jpg?dl=1" alt=""></a></li></ul>
                                
				<header>
					
						<div class="title">Speaker Partner</div>
					
				</header>
				<ul>
					<li><a href="http://www.swissnex.org/" target="_blank"><img src="https://www.dropbox.com/s/gm32tjf1evy7e19/swissnex.jpg?dl=1" alt=""></a></li>
				</ul>

                                
				<header>
					
						<div class="title">Food Partners</div>
					
				</header>
				<ul>
				<li><a href="http://www.bangsindia.com/" target="_blank"><img src="https://www.dropbox.com/s/rplq06boo6cw4uk/bangs.jpg?dl=1" alt=""></a></li>
	
<li><a href="http://www.openhand.in/" target="_blank"><img src="https://www.dropbox.com/s/z2bsf9ev1x24sel/hgg.PNG?dl=1" alt=""></a></li>
	<li><a href="http://www.barista.co.in/" target="_blank"><img src="https://www.dropbox.com/s/uc5c2e0k2hzsf6n/log1o.png?dl=1" alt=""></a></li>
	
<li><a href="http://www.baskinrobbinsindia.com/" target="_blank"><img src="https://www.dropbox.com/s/tzvtmh7jyzxrq76/mainLogo.png?dl=1" alt=""></a></li>
	

</ul>
                                
				<header>
					
						<div class="title">Radio Partners</div>
					
				</header>
				<ul>
				<li><a href="http://www.redfm.in//" target="_blank"><img src="https://www.dropbox.com/s/dh4xat3y7mfn4wm/rd1.PNG?dl=1" alt=""></a></li>
	

</ul>
                                
				<header>
					
						<div class="title">Education Partners</div>
					
				</header>
				<ul>
				<li><a href="http://www.niit.com/india/training" target="_blank"><img src="https://www.dropbox.com/s/nwi7wl3chwnlcq9/NIIT_logo.png?dl=1" alt=""></a></li>
				<li><a href="http://www.dhyeyaias.com//" target="_blank"><img src="https://www.dropbox.com/s/5a9o9j8br4ul5a5/dias.png?dl=1" alt=""></a></li>
	
<li><a href="http://etenias.com//" target="_blank"><img src="https://www.dropbox.com/s/yfrv48f684z2di7/etenias.JPG?dl=1" alt=""></a></li>

</ul>	


                                
				<header>
					
						<div class="title">Social Partners</div>
					
				</header>
				<ul>
					<li><a href="http://slumsoccer.org//" target="_blank"><img src="https://www.dropbox.com/s/x0sojmw3vcmwl9e/slumsoccer.png?dl=1" alt=""></a></li>
					<li><a href="http://www.umeedlife.com/" target="_blank"><img src="https://www.dropbox.com/s/qi79uze3jvze6c6/umeed-logo1.png?dl=1" alt=""></a></li>
					<li><a href="http://www.lakshyam.co.in/" target="_blank"><img src="https://www.dropbox.com/s/m8u5rks5ubri4n2/High%20res%20Logo%281%29.jpg?dl=1" alt=""></a></li>
					<li><a href="http://uandi.strikingly.com/" target="_blank"><img src="https://www.dropbox.com/s/l4u51e0tuouf3xe/U%26I.jpg?dl=1" alt=""></a></li>
					<li><a href="http://www.indiafellow.org/" target="_blank"><img src="https://www.dropbox.com/s/bme6b041eq2izby/india%20fellow.gif?dl=1" alt=""></a></li>	
					<li><a href="http://www.technex.in/sponsors/#"><img src="https://www.dropbox.com/s/xg5y2reylag3d5d/ditsa.jpg?dl=1" alt=""></a></li>	
				</ul>

                                
				<header>
					
						<div class="title">Online Registration Partner</div>
					
				</header>
				<ul>
					<li><a href="http://thecollegefever.com/" target="_blank"><img src="https://www.dropbox.com/s/dpo0awllu6mk38i/collegefever.png?dl=1" alt=""></a></li>
				</ul>
                                
				<header>
					
						<div class="title">Ornament Partner</div>
					
				</header>
				<ul>
					<li><a href="http://chetmanijewellers.com/" target="_blank"><img src="https://www.dropbox.com/s/pezury57qogvy3t/chetmani.png?dl=1" alt=""></a></li>
				</ul>
                                
				<header>
					
						<div class="title">Online Media Partners</div>
					
				</header>
				<ul>
					<li><a href="http://www.knowafest.com/" target="_blank"><img src="https://www.dropbox.com/s/ynxxbq1rmnoe1jo/Knowafest.png?dl=1" alt=""></a></li>
					<li><a href="http://www.festpav.com/" target="_blank"><img src="https://www.dropbox.com/s/m6runlszzw5f8ln/festpav.png?dl=1" alt=""></a></li>  
					<li><a href="http://www.twenty19.com/" target="_blank"><img src="https://www.dropbox.com/s/zqn9jf39qt67rvd/Twenty19%20logo%20%28White%29.jpg?dl=1" alt=""></a></li>
            <li><a href="http://www.brainbuxa.com/" target="_blank"><img src="https://www.dropbox.com/s/ynjwk5bu2xqeyjp/BrainBuxa_logo_1%20%282%29.png?dl=1" alt=""></a></li>
           <li><a href="http://www.thevoiceofnation.com/" target="_blank"><img src="https://www.dropbox.com/s/g9zqw8fqsot0zr5/Voice%20of%20India.jpg?dl=1" alt=""></a></li>
				</ul>

                                
				<header>
					
						<div class="title">Workshop Partners</div>
					
				</header>
				<ul>
					<li><a href="http://www.civilsimplified.com/bridgedesign-challenge-iit-varanasi-20" target="_blank"><img src="https://www.dropbox.com/s/59egot0fkc4sl7i/civilsimplified-logo.jpg?dl=1" alt=""></a></li>
					<li><a href="http://www.codeinstruct.com/android-challenge-iit-varanasi-2015" target="_blank"><img src="https://www.dropbox.com/s/6rsmjug5l0oclwn/codeinstruct-logo.jpg?dl=1" alt=""></a></li>
					<li><a href="http://www.appmob.in/" target="_blank"><img src="https://www.dropbox.com/s/oyooj2g8q7zpuao/AppMob_Logo.png?dl=1" alt=""></a></li>
					<li><a href="http://expertshub.org/" target="_blank"><img src="https://www.dropbox.com/s/9w3vin44wtx4izo/expertshub_logo.jpg?dl=1" alt=""></a></li>
					<li><a href="http://lelogixdesign.com/" target="_blank"><img src="https://www.dropbox.com/s/0u45qkk8dikbzgk/Lelogix.jpg?dl=1" alt=""></a></li>
					<li><a href="https://www.techbharat.org/" target="_blank"><img src="https://www.dropbox.com/s/uibc5ac55t79ofk/techbharat.png?dl=1" alt=""></a></li>
					<li><a href="http://prigma.co.in/" target="_blank"><img src="https://www.dropbox.com/s/ke1nzmtfdo23srr/prigma.png?dl=1" alt=""></a></li>
					<li><a href="http://www.twenty19.com/" target="_blank"><img src="https://www.dropbox.com/s/zqn9jf39qt67rvd/Twenty19%20logo%20%28White%29.jpg?dl=1" alt=""></a></li>
					<li><a href="http://www.technophilia.co.in/" target="_blank"><img src="https://www.dropbox.com/s/gsxabo7dido7g93/technophilia.jpg?dl=1" alt=""></a></li>
				</ul>

				
			</div>
		</div>
		
	

</body>	
