<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head lang="en">
	    <meta charset="UTF-8">
      <title>Technex-SignUp</title>
    </head>
<body>
<form role="form" method="post" action= "/signup2/" id="post-form">
    {% csrf_token %}
    <h1> SignUp 2</h1>

    <div>
      <span>College</span>
      <span>
    <input id="id_bhu_college" name="college" type="radio" value="IIT(BHU) Varanasi"/>IIT(BHU) Varanasi<br/>
    <input id="id_other_radio_college" name="college" type="radio" value="Other" />Other
    <input id="id_other_text_college" type="text" name="college"/></span>
    <span id="college_msg"></span></div><br/></div>
    <div>Year-
      <select name="event_slug">
        <option id='id_1' name="year" >1</option>
        <option id='id_2' name="year" >2</option>
        <option id='id_3' name="year" >3</option>
        <option id='id_4' name="year" >4</option>
        <option id='id_5' name="year" >5</option>
    	</select>
        <span id="year_msg"></span></div>
<button type="submit" value="Submit" id ="signup_button"/>SignUp</button>

</form>

</body>
<script src="{% static "js/jquery.min.js" %}"> </script>
<script src="{% static "js/jquery-1.11.3.min.js" %}"> </script>
<script src="{% static "js/signup2-ajax.js" %}"> </script>

</html>
