body
{
  overflow-x: hidden; 
/* background-image: url(bg.jpg); */
}

#phone_container{
	position: absolute;
	left: 50%;
	margin-left: -390px;
	top:-2%;
	z-index: 15;

}

#app_link{
	position: absolute;
	top: 70%;
	left: 35%;
	width: 15%;
}

#trailer_link{
	position: absolute;
	top: 69.5%;
	right: 35%;	
	width: 15%;
}

.page3
{
	/* background-image: url('bg.jpg'); */
	
	max-width: 100%;
	min-height: 635px;
	margin-top: -30px;
}
/*Animations of left image 2*/
.left_app_images_2
{'	
	
	transition: width;
	transition-duration: 0.5s;
	
	
}


.left_app_images_2:hover
{
	transition-duration: 1s;		
}


/*Animations of left image 1*/
.left_app_images_1
{'	
	transition: width;
	transition-duration: 0.5s;
	
}

.left_app_images_1:hover
{
	transition-duration: 1s;		
}

/*.left_app_images_1

/*Animations of right image 1*/
.right_app_images_1
{'	
	transition: width;
	transition-duration: 1s;
	
}

.right_app_images_1:hover
{
	transition-duration: 1s;		
}



/*Animations of right image 2*/
.right_app_images_2
{'	
	transition: width;
	transition-duration: 1s;
	
}

.right_app_images_2:hover
{
	
	transition-duration: 1s;		
}


/*Positioning of image 1*/

.left_app_image_00
{
    position: relative;
	z-index: 3;
}
.left_app_image_11
{
    position: relative;
	top: 1px;
	left: -2.299%;
}
.left_app_image11_11
{
	 -webkit-animation: mymove2 1s infinite; /* Chrome, Safari, Opera */
    animation: mymove2 1s infinite;
	-webkit-animation-timing-function: ease-in;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes mymove2 {
    from {left: -100px; }
    to {left: -2.299%;}
}

/* Standard syntax */
@keyframes mymove2 {
    from {left: -100px; }
    to {left: -2.299%; }
	
}
.left_app_image22_22
{
	 -webkit-animation: mymove4 1s infinite; /* Chrome, Safari, Opera */
    animation: mymove4 1s infinite;
	-webkit-animation-timing-function: ease-in;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes mymove4 {
    from {left: 4.899%; }
    to {left: 1.899%;}
}

/* Standard syntax */
@keyframes mymove4 {
    from {left: 4.899%; }
    to {left: 1.899%; }
	
}
.right_app_image33_33
{
	 -webkit-animation: mymove3 1s infinite; /* Chrome, Safari, Opera */
    animation: mymove3 1s infinite;
	-webkit-animation-timing-function: ease-in;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes mymove3 {
    from {left: -18.311%; }
    to {left: -15.311%;}
}

/* Standard syntax */
@keyframes mymove3 {
    from {left: -18.311%; }
    to {left: -15.311%; }
}
.right_app_image44_44
{
	 -webkit-animation: mymove5 1s infinite; /* Chrome, Safari, Opera */
    animation: mymove5 1s infinite;
	-webkit-animation-timing-function: ease-in;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes mymove5 {
    from {left: 18.311%; }
    to {left: 11.5%;}
}

/* Standard syntax */
@keyframes mymove5 {
    from {left: 18.311%; }
    to {left: 11.5%; }
}
	
.left_app_image_111
{
	position: relative;
	top: 2px;
	left: 2%;
	z-index:4;
	opacity: 1;	
}
/********************/
/*Positioning of image 2*/

.left_app_image_00
{
    position: relative;
	z-index: 3;
}
.left_app_image_22
{
    position: relative;
	top: 1px;
	left: 1.899%;
	width: 18%;
}
.left_app_image_222
{
    position: relative;
	top: 6px;
	left: -2%;
	z-index:4;
	opacity: 1;	
	width: 7%;
}
/********************/
/*Positioning of image 3*/

.right_app_image_00
{
    position: relative;
	z-index: 3;
	left: 9.59%;
	margin-right: 280px;
}
.right_app_image_33
{
    margin-left: -42px;
}
.right_app_image_333
{
    z-index:4;
	opacity: 1;
	position: relative;	
}
/********************/
/*Positioning of image 4*/

.right_app_image_00
{
    position: relative;
	z-index: 3;
	left: 9.59%;
	margin-right: 280px;
}
.right_app_image_44
{
    margin-right: -32px;
    margin-bottom: -2px;
}
.right_app_image_444
{
	z-index:-4;
	opacity: 1;	
	/*width: 7%;
	*/
	margin-left: -6px;
	position: relative;
}
/********************/
.left_app_images
{
	top: 10%;
	position: relative;
	width: 70%;
	left: 5%;
}
.right_app_images
{
	width: 70%;
	position: absolute;
	top: 10%;
	left: 75%;
}





.left_app_images_1
{
/*	height: 100px;
*/}
.left_app_images_2
{
/*	height: 100px;
*/}
.right_app_images_1
{	/*height: 100px;*/
}
.right_app_images_2
{	/*height: 100px;*/
}
.download_app
{
	width: 100%;
}

.trailer_app{
	width: 100%;
}