
@font-face 
{
  font-family: 'trebuc_1';
  src: url(fonts/trebuc_1.ttf);
  }

#head_hr{
	width: 90%;
	margin: auto;
}

.last_hr{
	border-color: #333;
}
  
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
	
}
li
{
	
	float: left;
	display: inline;
	margin-left: 10px;
	font-family: 'trebuc_1';
	opacity: 0.7;
	font-size: 1.1em;
}

.navbar_top
{	
	position: absolute;
	top: 25px;
	left: 23%;/* 
	margin-left: 28%;
	margin-top: -55px;*/
	width: 100%;
	z-index: 5;
}

#navbar{
	top: 0;
	left: 0;
	z-index: 99;
	width: 100%;
}
.navbar_line
{
	position: absolute;
	top: 55px;
	margin-left: 27%;
	width: 57%;
	/*margin-top: ;*/
	z-index: 5;
}

.last{
	color: black;
}

@media screen and (min-width: 1200px){
	li{
		font-size: 1.0em;
	}

	#navbar_line{
		top: 45px;
	}
}

@media screen and (min-width: 1800px){
	li{
		font-size: 1.5em;
	}

	#navbar_line{
		top: 50px;
	}
}
.vertical_line
{
	width: 5.5px;
	margin-left: 15px;
}
a
{
	color: white;
	font-family: 'trebuc_1';
	text-decoration: none;
}

a:hover 
{
	color:red; 
	text-decoration: none;
}
a:active
{
	color: red;
	text-decoration: none;
}



.red_dot_element
{
	position: absolute;
	top: 11.7%;
	left: 20%;
}
a
{
 color: white;
}

.iit_bhu_logo
{	
	margin-top: 15px;
	margin-left: 6%;
}

header{
	background-color: red;
	z-index: 1000000000000000000000;
}
.navbar_top > li > a
{
	font-family: 'trebuc_1';
}

.active
{
	color: red;
}