
body {
  
  overflow: hidden;
  -webkit-transition: background 1.5s; /* For Safari 3.1 to 6.0 */
  transition: background 1.5s;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

#demo {
    -webkit-transition: top 1.5s ease-in-out;
    -moz-transition: top 1.5s ease-in-out;
    -ms-transition: top 1.5s ease-in-out;
    -o-transition: top 1.5s ease-in-out;
    transition: top 0.9s ease-in--out;
    /*background-image: url(../img/dirt.png);*/
    height: 500vh;
    position: absolute;
    top: 0;
}
 

#demo>.cd-section {
    height: 100vh;
    overflow: hidden;
}







