.Testimonials {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 900px;
  z-index: 50;
}
.Layer_2 {
  background-image: url("Layer 2.png");
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 900px;
  z-index: 49;
}
.Rectangle_1 {
  border-width: 0.583px;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  position: absolute;
  left: 609px;
  top: 164px;
  width: 421px;
  height: 96px;
  z-index: 48;
}
.Testimonials {
  font-size: 70.833px;
  font-family: "Bebas Neue";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 636.945px;
  top: 169.5px;
  z-index: 47;
}
