.central_imagee2{
	width: 100%;
}

.png{
    /*opacity: 0;*/
}

.central_imagee1
{
	
	-webkit-animation:spin 1.5s ease-out infinite;
    -moz-animation:spin 1.5s ease-out infinite;
    animation:spin 1.5s ease-out infinite;
	-webkit-animation-timing-function: ease-out;
	animation-iteration-count: 2-webkit-animation-timing-function: ease-out;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
.container1
{
	background-image: url('download1.png');
	height: 100%;
}
@font-face 
{
  font-family: 'ankita';
  src: url(fonts/BLADRMF_0.TTF);
  }

.allevents
{
	color: white;
	font-size: 25px;
	font-family: 'trebuc_1';
	line-height: 140px;
    letter-spacing: 2px;
    height: 100%;
}
.leftevents{
	width: 40%;
	float: left;
	position: absolute;
	top: 50%;
	left: 29%;
	margin-top: -286px;
}

.rightevents{
	width: 40%;
	float: right;
	position: absolute;
	right: 25%;
	top: 50%;
	margin-top: -286px;
}
.firstletter
{
	font-family: 'ankita';
	font-size: 35px;
}
.central_element
{
	top: 50%;
	width: 450px;
	margin: 0 auto 0 auto;
	position: absolute;
	left: 50%;
	margin-left: -224px;
	margin-top: -230px;
}
.about_us_page
{
	/* background-image: url('image/About us page.png'); */
	
	max-width: 100%;
	min-height: 670px;
	margin-top: -20px;
}


/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    from {right: 0px; opacity:0;}
    to {right: 280px; opacity:1;}
}

/* Standard syntax */
@keyframes mymove {
    from {right: 0px; opacity:0;}
    to {right: 280px; opacity:1;}
	
}

.guest_lectures
{
	opacity:0;
    
    position: relative;
    -webkit-animation: mymove 1s infinite; /* Chrome, Safari, Opera */
    animation: mymove 1s infinite;
	-webkit-animation-timing-function: ease-in;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
.startupfair
{
	
    
    position: relative;
    -webkit-animation: mymove6 1s infinite; /* Chrome, Safari, Opera */
    animation: mymove6 1s infinite;
	-webkit-animation-timing-function: ease-in;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes mymove6 {
    from {right: 0px; opacity:0;}
    to {right: 350px; opacity:1;}
}

/* Standard syntax */
@keyframes mymove6 {
    from {right: 0px; opacity:0;}
    to {right: 350px; opacity:1;}
	
}
.pronites
{
	
    
    position: relative;
    -webkit-animation: mymove7 1s infinite; /* Chrome, Safari, Opera */
    animation: mymove7 1s infinite;
	-webkit-animation-timing-function: ease-in;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes mymove7 {
    from {right: 0px; opacity:0;}
    to {right: 340px; opacity:1;}
}

/* Standard syntax */
@keyframes mymove7 {
    from {right: 0px; opacity:0;}
    to {right: 340px; opacity:1;}
	
}
.initiatives
{
	
    
    position: relative;
    -webkit-animation: mymove8 1s infinite; /* Chrome, Safari, Opera */
    animation: mymove8 1s infinite;
	-webkit-animation-timing-function: ease-in;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes mymove8 {
    from {right: 0px; opacity:0;}
    to {right: 200px; opacity:1;}
}

/* Standard syntax */
@keyframes mymove8 {
    from {right: 0px; opacity:0;}
    to {right: 200px; opacity:1;}
	
}
.events40
{
    position: relative;
    -webkit-animation: mymove1 1s infinite; /* Chrome, Safari, Opera */
    animation: mymove1 1s infinite;
	-webkit-animation-timing-function: ease-in;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes mymove1 {
    from {left: 0px; opacity:0;}
    to {left: 140px; opacity:1;}
}

/* Standard syntax */
@keyframes mymove1 {
    from {left: 0px; opacity:0;}
    to {left: 140px; opacity:1;}
	
}

.industrial_conclave
{
	
    
    position: relative;
    -webkit-animation: mymove9 1s infinite; /* Chrome, Safari, Opera */
    animation: mymove9 1s infinite;
	-webkit-animation-timing-function: ease-in;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes mymove9 {
    from {left: 0px; opacity:0;}
    to {left: 300px; opacity:1;}
}

/* Standard syntax */
@keyframes mymove9 {
    from {left: 0px; opacity:0;}
    to {left: 300px; opacity:1;}
	
}
.exhibitions
{
	
    
    position: relative;
    -webkit-animation: mymove10 1s infinite; /* Chrome, Safari, Opera */
    animation: mymove10 1s infinite;
	-webkit-animation-timing-function: ease-in;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes mymove10 {
    from {left: 0px; opacity:0;}
    to {left: 280px; opacity:1;}
}

/* Standard syntax */
@keyframes mymove10 {
    from {left: 0px; opacity:0;}
    to {left: 280px; opacity:1;}
	
}
.ironman
{
	
    
    position: relative;
    -webkit-animation: mymove11 1s infinite; /* Chrome, Safari, Opera */
    animation: mymove11 1s infinite;
	-webkit-animation-timing-function: ease-in;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes mymove11 {
    from {left: 0px; opacity:0;}
    to {left: 250px; opacity:1;}
}

/* Standard syntax */
@keyframes mymove11 {
    from {left: 0px; opacity:0;}
    to {left: 250px; opacity:1;}
	
}
.page-frame
{
	height: 100vh;
	
}
.png1
{
	width: 15%;
    position: absolute;
    top: 7%;
    left: 27%;
	-webkit-transition-property: width; /* Safari */
    -webkit-transition-duration: 1s; /* Safari */
    transition-property: width;
    transition-duration: 1s;
}
.png2
{
	width: 15%;
    position: absolute;
    top: 7%;
    left: 55%;
	-webkit-transition-property: width; /* Safari */
    -webkit-transition-duration: 1s; /* Safari */
    transition-property: width;
    transition-duration: 1s;
}
.png3
{
	width: 20%;
    position: absolute;
    top: 27%;
    left: 8%;
	-webkit-transition-property: width; /* Safari */
    -webkit-transition-duration: 1s; /* Safari */
    transition-property: width;
    transition-duration: 1s;
}
.png4
{
	width: 15%;
    position: absolute;
    top: 30%;
    left: 75%;
	-webkit-transition-property: width; /* Safari */
    -webkit-transition-duration: 1s; /* Safari */
    transition-property: width;
    transition-duration: 1s;
}
.png5
{
	width: 15%;
    position: absolute;
    top: 55%;
    left: 8%;
	-webkit-transition-property: width; /* Safari */
    -webkit-transition-duration: 2s; /* Safari */
    transition-property: width;
    transition-duration: 2s;
}
.png6
{
	width: 15%;
    position: absolute;
    top: 55%;
    left: 75%;
	-webkit-transition-property: width; /* Safari */
    -webkit-transition-duration: 1s; /* Safari */
    transition-property: width;
    transition-duration: 1s;
}
.png7
{
	width: 15%;
    position: absolute;
    top: 75%;
    left: 25%;
	-webkit-transition-property: width; /* Safari */
    -webkit-transition-duration: 1s; /* Safari */
    transition-property: width;
    transition-duration: 1s;
}
.png8
{
	width: 13%;
    position: absolute;
    top: 73%;
    left: 55%;
	-webkit-transition-property: width; /* Safari */
    -webkit-transition-duration: 1s; /* Safari */
    transition-property: width;
    transition-duration: 1s;
}
.png1:hover
{
	width: 18%;
}
.png2:hover
{
	width: 18%;
}
.png3:hover
{
	width: 23%;
}
.png4:hover
{
	width: 18%;
}
.png5:hover
{
	width: 18%;
}
.png6:hover
{
	width: 18%;
}
.png7:hover
{
	width: 18%;
}
.png8:hover
{
	width: 16%;
}