body{
	margin: 0;
}

#drop-target-one.held{
	background: url('center.png') no-repeat;
	
}

#drop_text{
	width: 90px;
}

#drop-target-one {
	background: url('center.png') no-repeat ;
    border-radius: 10px;
    text-align: center;
    width: 265px;
    height: 280px;
    margin: 1em auto 0 auto;
    margin-top: 10%;
}
#dd-elements{
	width:100%;
	max-width: 100%; 
	margin: 0 auto 0 auto;
	padding: 0.4em;
	/* border:dashed 2px #333333;
	border-radius: 25px; */
}

#drag-elements{
	margin: 0 auto 0 auto;
}

.imaged{
	width: 100px;
	height: 100px;
	background: url('red_ele.png') no-repeat;
	text-align: center;
	line-height: 75px;
	color: white;
	
}

 /* span{
	font-size: 0.9em;
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
	margin:1em 0.1em 0.1em 0.1em;
}  */

#drag-elements div {
    display: inline-block;
    cursor:pointer;
    vertical-align: middle;
}


.clearfix {
    *zoom: 1
}
.clearfix:before,
.clearfix:after {
    display: table;
    line-height: 0;
    content: ""
}
/*.clearfix:after {
    clear: both
}
*/

@keyframes wiggle {
	0% {
		transform:rotate(6deg);
	}
	50% {
		transform:rotate(-6deg);
	}
	100% {
		transform:rotate(6deg);
	}
}
 
.wiggle {
	animation: wiggle 0.5s infinite;
}

#drop_indication{
	padding: 0.1em;
	/*width: 5.5em;
	*/margin: 0 auto 0 auto;
	font-weight: bold;
}

.hidden{
	visibility: hidden;
}

.shown{
	visibility: visible;
}



#team{
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	margin: 0; 
	position: fixed;
	background-color: red;
}

.trans2 {
	opacity: 0.5;
	position: relative;
	margin-top: -65%;
	margin-left: 20%;
}
.trans3 {
	opacity: 0.5;
	position: relative;
	margin-top: -45%;
	margin-left: -15%;
}
.trans4 {
	opacity: 0.5;
	position: relative;
	margin-top: -25%;
	margin-left: -2%;
}
.trans5 {
	opacity: 0.5;
	position: relative;
	margin-top: -5%;
	margin-left: 2%;
}
.trans6 {
	opacity: 0.5;
	position: relative;
	margin-left: 9%;
}
.trans7 {
	opacity: 0.5;
	position: relative;
	margin-top: -5%;
	margin-left: 10%;
}
.trans8 {
	opacity: 0.5;
	position: relative;
	margin-top: -25%;
}
.trans9 {
	opacity: 0.5;
	position: relative;
	margin-top: -45%;
}
.trans10 {
	opacity: 0.5;
	position: relative;
	margin-top: -65%;
	margin-left: -10%;
}

.trans1{
	opacity: 1;
}

.drag-wrap{
	background: #CC3300;
	color: #CC3300;
}





.clearfix {
    *zoom: 1
}
.clearfix:before,
.clearfix:after {
    display: table;
    line-height: 0;
    content: ""
}
/*.clearfix:after {
    clear: both
}
*/

@-webkit-keyframes wiggle {
	0% {
		-webkit-transform:rotate(6deg);
	}
	50% {
		-webkit-transform:rotate(-6deg);
	}
	100% {
		-webkit-transform:rotate(6deg);
	}
}
 
.wiggle {
	-webkit-animation: wiggle 0.5s infinite;
}

#drop_indication{
	padding: 0.1em;
	width: 5.5em;
	margin: 0 auto 0 auto;
	font-weight: bold;
}

.hidden{
	visibility: hidden;
}

.shown{
	visibility: visible;
}
.created{
	background: white;
	color: black;
	text-align: center;
	vertical-align: middle;
	float: left;
	width: 150px;
	height: 300px;
	margin: 1.5em 1.5em;
	font-weight: bold;
	padding: 0.2em;
}

#container2{
	position: absolute;
	top:0; 
	width: 100%;
	height: 100%;
	margin: 0 auto 0 auto; 
	background: #333;
}

.upper{
	border: solid 2px black;
	vertical-align: top;
	height: 80%;
	width: 80%;
	margin: 0.1em auto 0.5em auto;
	padding: 0.1em;
}

.lower{
	border: solid 2px black;
	height: 10%;
	width: 80%;
	margin: 0.01em auto 0.01em auto;
	vertical-align: bottom;
}

button{
	position: relative;
	width: 5%;
	margin: 10px auto 20px auto;
	z-index: 3;
	top: 500px;
}

.scale{
	animation:scale 0.5s infinite;
	-webkit-animation:scale 0.5s infinite;
}

@keyframes scale{
	0%{transform:scale(1.0);}

	25%{transform:scale(1.2);}

	50%{transform:scale(1.2);}

	75%{transform:scale(1.2);}

	100%{transform:scale(1.2);}
}

@-webkit-keyframes scale{
	0%{-webkit-transform:scale(1.0);}

	25%{-webkit-transform:scale(1.2);}

	50%{-webkit-transform:scale(1.2);}

	75%{-webkit-transform:scale(1.2);}

	100%{-webkit-transform:scale(1.2);}
}