


@font-face 
{
  font-family: 'trebuc_1';
  src: url(fonts/trebuc_1.ttf);
  }

  @font-face 
{
  font-family: 'Bebas';
  src: url(fonts/BebasNeue_Regular.ttf);
  }

  @font-face{
  	font-family: 'Lato';
  	src:url(fonts/Lato-Regular.ttf);
  }


#previous{
	border:solid black 1px;
	font-size: 2em;
	width: 297px;
	margin: auto;
	height: 69px;
}

h3{
	font-family: 'Bebas';
	margin-top:4px;
}

h2{
	font-family: 'Lato';
}


header{
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	height: 70px;
	background: rgb(1,5,32);
	z-index: 100;
	margin:0 auto 0 auto;
}
#nav_wrap{
	width: 100%;
	margin: 0 auto 0 auto;
}

@media screen 
  and (min-width: 800px) 
  and (max-width: 1200px) 
  { 

	#logo{
		position: relative;
		width: 130px;
		float: left;
		/*left: 30px;*/
		top:40px;
	}

	#logo_i{
		width: 130px;
		height: 40px;
		float: right;
	}

	#nav_area{
		margin: 0 auto 0 auto;
		width: 100%;
		vertical-align: bottom;

	}

	nav ul{
		width: 90%;
		position: relative;
		left: 10%;
		top: 0;
		float: left;
		margin: 0 auto 0 auto;
	}

	nav li{
		float: left;
		list-style-type: none;
		font-size: 0.8em;
		margin: 5px 10px 15px 10px;
		font-family: 'trebuc_1';
		opacity: 0.7;
	}

	nav a{
		color:black;
	}

	.nav_a{
		float: left;
		padding: 3px;
		margin: 3px 1px 3px 2px;
		color: white;
	}

	.verti{
		margin-top: 8px;
		height: 1.1em;
		float: right;
	}

	#line{
	position: absolute;
	top:40px;
	left: 0;
	margin: 0 auto 0 auto;
	
	border: 1px solid white;
	float: left;
	}
}

@media screen 
  and (min-width: 1200px) 
  and (max-width: 1600px) 
  { 

	#logo{
		position: relative;
		width: 220px;
		float: left;
		left: 80px;
	}

	#logo_i{
		margin-top: 20px;
		float: right;
		width: 280px;
		height: 66px;
	}

	#nav_area{
		margin: 0 auto 0 auto;
		width: 100%;
		vertical-align: bottom;

	}

	nav ul{
		width: 1100px;
		position: relative;
		/*left: 10%;*/
		float: left;
		margin: 10px auto 0 auto;
	}

	nav li{
		float: left;
		list-style-type: none;
		font-size: 1.6em;
		margin: 5px 10px 15px 10px;
		font-family: 'trebuc_1';
		opacity: 0.7;
	}

	nav a{
		color:black;
	}

	.nav_a{
		float: left;
		padding: 3px;
		margin: 3px 1px 3px 2px;
		color: white;
	}

	.verti{
		margin-top: 8px;
		height: 1.5em;
		float: right;
	}

	#line{
	position: relative;
	top:75px;
	margin-right:100px ;
	width: 95%;
	border: 1px solid white;
	}
}

@media screen 
  and (min-width: 1600px) 
  and (max-width: 2600px) 
   { 
  	#logo{
  		position: relative;
		width: 330px;
		float: left;
		left: 30px;
	}

	#logo_i{
		width: 330px;
		float: right;
	}

	#nav_area{
		margin: 0 auto 0 auto;
		width: 100%;
		vertical-align: bottom;
	}

	nav ul{
		width: 1200px;
		position: relative;
		/*left: 10%;*/
		float: left;
		margin: 10px auto 0 auto;
	}

	nav li{
		float: left;
		list-style-type: none;
		font-size: 2em;
		margin: 5px 2px 15px 2px;
		font-family: 'trebuc_1';
		opacity: 0.7;
	}

	nav a{
		color:black;
	}

	.nav_a{
		float: left;
		padding: 3px;
		margin: 3px 1px 3px 2px;
		color: white;
	}

	.verti{
		margin-top: 8px;
		height: 2.5em;
		float: right;
	}
	#line{
	position: relative;
	top:75px;
	margin: 0 10px 0 auto;
	width: 100%;
	border: 1px solid white;
	}
}







.container{
	margin-top: 105px;
	visibility: hidden;
}

#wrapper{
	position: relative;
	top: 80px;
}
