body{
	
	overflow: hidden;
}

#LeftElement ul li{
			list-style-type: none;
			text-align: center;
			padding: 4px;
			font-size: 20px;
			padding-top: 10px;
			padding-bottom: 10px;
			color: white;
			-webkit-transition: all 1s linear;
			-moz-transition: all 1s linear;
			-ms-transition: all 1s linear;
			-o-transition: all 1s linear;
			transition: all 1s linear;
			border-bottom: 1px solid white;
			cursor: pointer;
		}
#LeftElement ul li:hover{
	background: rgba(0,0,0,.3);
}

		#LeftElement{
			position: absolute;
			left: -64.5px;
			width: 450px;
			background-color: #f34235;
			height: 92%;
			top: 70px;
			backface-visibility: hidden;
			white-space: nowrap;
		}

		.MiddleElement1{
			margin-top: 0;
			position: absolute;
			/*left: 386px;
			top: 95px;*/
			width: 97%;
			display: none;
			height: 90vh;
			min-height: 400px;
			display: none;
			padding-left: 30px;
			/*height: 550px;*/
			background:  url(images/texture.png);
		}
		.MiddleElement1 ul{
			position: absolute;
			left: -40px;

		}
		.MiddleElement1 ul li{
			font-size: 20px;
			list-style-type: disc;
			padding: 4px;
		}
		#LastElement{
			position: absolute;
			left: 1890px;
			top: 95px;
			width: 22%;
			display: none;
			background-color: #f34235;
			text-align: center;
			color: white;
			list-style-type: none;
		}

		#LastElement ul{
			padding-left: 0;
		}

		#LastElement ul li{
			list-style-type: none;
			text-align: center;
			padding: 4px 0 4px 4px;
			font-size: 20px;
		}
		
		#MiddleElement3{
			position: absolute;
			left: 1350px;
			top: -700px;
			width: 70%;
			display: none;

		}
		.MiddleElement1 hr{
			border: 1px solid #27c181;
			margin-top: 5px;
		}
		#middle{
			color: white;
			position: absolute;
			left: -459px;
			top: 95px;
			width: 25%;
			display: none;
			background-color: #f34235;
			cursor: pointer;	
			
		}
		#middle ul li{
			list-style-type: none;
			text-align: center;
			padding: 10px;
			font-size: 20px;
		}
		#finalMiddle{
			width: 56%;
			position: absolute;
			z-index: 100;
			height: 0px;
			border-color: #598765;
			left: 22%;
			top: 95px;
			background: rgb(22,23,42);
			padding:25px;
			padding-top: 50px;
			color: white; 
		}
		#finalMiddle h2{
			display: none;
		}
		.backadd{
			background-color: rgba(0, 0, 0, 0.5);
			font-family: 'L';
		}
		#LastMiddleElement{
			display: none;
			position: absolute;
			left: 200px;
			width: ;
		}
		.backadd1{
			background: #009999;
		}
		.backadd2{
			background: #009999;
		}
		.backadd3{
			background: #009999;
		}
		.backadd4{
			background: #009999;
		}
		#backelement{
			background: black;
			opacity: 0.4;
		}
		#backelement1{
			background-color: black;
			opacity: 1.0;
			position: absolute;
			width: 35%;
			height: 550px;
			top: 100px;
			left: -64.5px;
			z-index: 50;
		}
		#backadd10{
		background-color: rgba(0, 0, 0, 0.5);	
		}
		#main{
			top:40px;
		}